---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';


const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="RoadMap"
	description="This roadmap is a visual guide that shows the objectives, steps, and timelines to achieve the goals in this project."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<a class="back-link" href="/"><Icon icon="arrow-left" /> Home</a>
			<Hero
				title="Roadmap"
				tagline="This roadmap is a visual guide that shows the objectives, steps, and timelines to achieve the goals in this project."
				align="start"
			/>
			<div class="card">
				<img src="/assets/roadmap.jpeg" alt="roadmap" />
			</div>

		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style> 
	.card {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		height: fit-content;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
	}
</style>
